.menuChoices .header {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.menu {
        margin-top: 10px; 
        padding-right: 0;
        padding-left: 0;
}

.menu-img {
        padding-top: 10px;
        padding-left: 0;
}

.menu-name {
        font-style: italic;
        padding-right: 0;
}

.menu-price{
        margin-top: -10px;
        padding-right: 0;
        padding-left: 0;
}

.navbar .navbar-default {
	color: black;
}

body {
	background-color: #CC99FF;
	color: #000000;
}

input {
	resize: horizontal;
	width: 300px;
}

@media screen and (max-width: 600 {
    input {
        width: max-width;
    }   
}  

.restaurant {
	color: blue;
}

.restaurant:hover {
	color: yellow;
	cursor: pointer;
}
