.menuChoices .header {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.menu {
        margin-top: 10px;
        background-color: rgba(240,240,240,0.75); 
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 10px;
}

.menu-img {
        padding-top: 10px;
        padding-left: 0;
}

.menu-name {
        font-style: italic;
        padding-right: 0;
}

.menu-price{
        margin-top: -10px;
        padding-right: 0;
        padding-left: 0;
}

.navbar .navbar-default {
	color: black;
}

body {
    background: url('../images/background.jpg') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;	
	color: #000000;
}

input {
	resize: horizontal;
	width: 300px;
}

@media screen {
    input {
        resize: horizontal;
        width: max-width;
    }   
}  

.restaurant {
	color: blue;
}

.restaurant:hover {
	color: yellow;
	cursor: pointer;
}
